body {
  margin: 0;
  font-family: 'Nerko One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 8%, rgba(81,206,208,0.5999533602503502) 91%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button{
  cursor: pointer;
}